/* MOBILE */
main {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  grid-gap: 1em;
  grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "boxC boxC"
    "boxD boxD"
    "boxE boxF"
    "boxG boxH"
    "boxI boxI"
  ;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%
}

#a {
  grid-area: header;
}

#b {
  grid-area: sidebar;
}

#c {
  grid-area: boxC;
}

#d {
  grid-area: boxD;
}

#e {
  grid-area: boxE;
}

#f {
  grid-area: boxF;
}

#g {
  grid-area: boxG;
}

#h {
  grid-area: boxH;
}

#i {
  grid-area: boxI;
}


/* TABLET */
@media (min-width: 768px){
  main {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: 100px 175px 150px 150px 275px 275px 105px;
    grid-template-areas: 
      "header header"
      "sidebar sidebar"
      "boxC boxC"
      "boxD boxD"
      "boxE boxF"
      "boxG boxH"
      "boxI boxI"
    ;
  }
}

/* DESKTOP */
@media (min-width: 1025px){
  main {
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
    grid-template-areas: 
      "header header header header header"
      "sidebar boxC boxC boxD boxD"
      "sidebar boxE boxF boxG boxH"
      "sidebar boxI boxI boxI boxI"
    ;
  }
}
